header{
    background-color: white;
    padding: 0;
    border-bottom: 1px solid  rgb(16, 164, 222);
}
a{
    color: rgb(16, 164, 222);
}
a:hover{
    background-color: rgb(16, 164, 222);
    color: white;
}
.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
a.logo{
    font-weight: bold;
    padding:1em;
}
img{
    width: 100px;
    height: 100px;
}
nav ul{
    list-style-type:none;
    margin: 0;
}
nav ul li a{
    padding:1em;
    display: inline-block;
}

.ul {
    margin-top: 10px;
}
